/* Write your code here. */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #9796f0;
  margin: 0px;
}
@media (max-width: 767px) {
  .nav-bar {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.logo-name-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-logo {
  height: 40px;
  width: 40px;
}
@media (max-width: 767px) {
  .nav-logo {
    height: 35px;
    width: 35px;
  }
}
.nav-name {
  font-family: Roboto;
  font-size: 20px;
  color: #ffffff;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .nav-name {
    font-size: 15px;
  }
}
.score-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.score-style {
  font-family: Roboto;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  color: #ffffff;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .score-style {
    font-size: 15px;
  }
}
